[data-theme="dark"] body {
    background-color: black;
    color: white;
}

[data-theme="dark"] input {
    color: white;
}

[data-theme="dark"] #mainHead div:active, [data-theme="dark"] #mainHead div:hover {
    color: #2C97F2;
}

[data-theme="dark"] select, [data-theme="dark"] option {
    background-color: black;
    color: white;
    border: 0px;
}

[data-theme="dark"] #headName, [dark-theme="dark"] h1 {
    color: white;
}

[data-theme="dark"] #nameShop, [dark-theme="dark"] span {
    color: white;
}

[data-theme="dark"] #filter {
    background-color: white;
    color: black;
}

[data-theme="dark"] #headName {
    color: white;
} 

[data-theme="dark"] #orderTable {
    background-color: black;
}

/* модальное окно */

[data-theme="dark"] #modal-window {
    background-color: rgb(60, 60, 60);
    color: white;
}

[data-theme="dark"] label {
    color: white;
}

[data-theme="dark"] #modal-window input {
    background-color: #575656;
    color: white;
}

/* настройки */

[data-theme="dark"] .settings-panel input {
    background-color: #575656;
    color: white;
}

[data-theme="dark"] #saveProfileButton {
    background-color: #2C97F2;
}

[data-theme="dark"] .worker-card, [data-theme="dark"] .status-card, [data-theme="dark"] .device-card {
    background-color: #8e8a8a;
}

[data-theme="dark"] #modal-window select, [data-theme="dark"] #modal-window input {
    background-color: #575656;
}

/* логи */ 

[data-theme="dark"] #logsList {
    background-color: black;
}

[data-theme="dark"] .log-card {
    background-color: #575656;
}

[data-theme="dark"] .log-card pre {
    background-color: #7b7b7b;
}

/* авторизация */

[data-theme="dark"] input[id="password"], [data-theme="dark"] input[id="email"], [data-theme="dark"] input[id="nameCRM"], [data-theme="dark"] input[id="repeatPassword"] {
    background-color: #555555;
}

[data-theme="dark"] #jojoin {
    background-color: black;
}

/* старт */

[data-theme="dark"] .feature-card {
    color: black;
}

[data-theme="dark"] .hero section {
    color: black;
}

/* админ-панель */

[data-theme="dark"] .user-card, [data-theme="dark"] .company-card, [data-theme="dark"] .AI-card {
    background-color: #575656;
}

[data-theme="dark"] .worker-card {
    background-color: black;
}

/* модальное меню */

[data-theme="dark"] #menu-window {
    background-color: rgb(60, 60, 60);
}

[data-theme="dark"] #menu-window button {
    background-color: #575656;
    color: white;
}