[data-theme="dark"] body {
    background-color: #333333;
    color: white;
}

[data-theme="dark"] #mainHead div:active, [data-theme="dark"] #mainHead div:hover {
    color: #2C97F2;
}

[data-theme="dark"] select, [data-theme="dark"] option {
    background-color: #333333;
    color: white;
    border: 0px;
}

/* модальное окно */

[data-theme="dark"] #modal-window {
    background-color: #333333;
    color: white;
}

[data-theme="dark"] label {
    color: white;
}

[data-theme="dark"] #modal-window input {
    background-color: #575656;
    color: white;
}

/* настройки */

[data-theme="dark"] .settings-panel input {
    background-color: #575656;
    color: white;
}

[data-theme="dark"] #saveProfileButton {
    background-color: #2C97F2;
}

[data-theme="dark"] .worker-card, [data-theme="dark"] .status-card, [data-theme="dark"] .device-card {
    background-color: #8e8a8a;
}

[data-theme="dark"] #modal-window select, [data-theme="dark"] #modal-window input {
    background-color: #575656;
}

/* логи */ 

[data-theme="dark"] #logsList{
    background-color: #575656;
}

[data-theme="dark"] .log-card {
    background-color: #575656;
}

[data-theme="dark"] pre {
    background-color: #555555;
}

/* авторизация */

[data-theme="dark"] input[id="password"], [data-theme="dark"] input[id="email"], [data-theme="dark"] input[id="nameCRM"], [data-theme="dark"] input[id="repeatPassword"] {
    background-color: #555555;
}

/* модальное меню */

[data-theme="dark"] #menu-window {
    background-color: #333333;
}

[data-theme="dark"] #menu-window button {
    background-color: #575656;
    color: white;
}