article, #mainHead div, .mainTable div {
    border-top: none !important;
    border-bottom: none !important;
}

article {
    border-collapse: collapse;
    border: 0.5px solid black;
    max-width: 100vw;
    color: black;
}

#mainHead div, .mainTable div {
    border: black 1px solid;
    text-align: center;
}

.statusInput, #modal-window {
    background-color: white;
    color: black;
}