#search {
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    width: 30vw;
    padding-left: 5px;
}

#filter {
    width: 150px;
    height: 35px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
}

#nameShop {
    gap: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    gap: 100px;
}

main h3 {
    margin-top: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
}

#hm {
    display: flex;
    gap: 50px;
}

#sidebar button, #hm button {
    height: 45px;
    width: 10vw;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 10px;
}

input {
    width: 20vw;
    height: 5vh;
}